<VirtualHost *:80>
    ServerName localhost
    ServerAdmin webmaster@localhost

    # Diretório do seu projeto no backend
    DocumentRoot /backend

    # Configuração do WSGI
    WSGIDaemonProcess myapp user=www-data group=www-data threads=5
    WSGIScriptAlias / /backend/app.wsgi

    # Permissões para o diretório da aplicação
    <Directory /backend>
        WSGIProcessGroup myapp
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>

    # Logs de erro e acesso
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
